In [62]:
import pandas as pd
import numpy as np

In [63]:
sfd = pd.read_csv("Solar Finance Project - Data.csv",thousands=',')

In [64]:
sfd

,City,Break even,Latitude,Longitude,Zipcode,Annual Sun Hours,PCPI,PCPI Growth,CO 8-hr (ppm),NO2 AM (ppb),...,PM2.5 24-hr (Âµg/m3),SO2 1-hr (ppb),Solar,Wind,Hydroelectric,Low-Impact Hydroelectric,Natural Gas,Coal,Oil & Other FF,Other
0,"San Diego, CA",4,32.715738,-117.161084,92154,3054.60,72637,7.1,1,15,...,17,1,11705,836,760,124,981,207,85,1675
1,"San Jose, CA",4,37.338740,-121.885253,95123,3243.14,136338,7.3,2,13,...,27,2,15777,489,807,123,985,123,155,1013
2,"San Fransisco, CA",5,37.774929,-122.419415,94112,3061.70,123711,12.1,2,13,...,24,15,14005,608,424,69,525,101,32,1105
3,"Honolulu, HI",5,21.309884,-157.858140,96818,3035.90,64143,6.3,1,IN,...,8,63,2779,200,49,29,89,272,838,79
4,"Philadelphia, PA",9,39.952584,-75.165222,19120,2498.40,72379,6.1,2,14,...,23,7,307,379,55,33,134,59,9,251
5,"Miami, FL",10,25.761680,-80.191790,33125,3154.00,73522,10.9,1,13,...,22,2,821,362,184,103,670,197,9,1379
6,"Baltimore, MD",10,39.290385,-76.612189,21215,2581.70,70490,6.3,1,15,...,16,3,1095,126,75,49,256,329,9,127
7,"Denver, CO",11,39.739236,-104.990251,80219,3106.60,78150,7.3,2,24,...,18,5,2325,1113,253,61,147,392,41,540
8,"Washington, DC",12,38.907192,-77.036871,20011,2527.70,80822,6.2,2,15,...,17,3,1566,294,213,106,206,122,9,301
9,"Boston, MA",12,42.360082,-71.058880,2124,2633.60,92290,7.0,1,12,...,17,9,3071,510,378,87,194,281,129,946
10,"Nashville, TN",13,36.162664,-86.781602,37211,2510.10,70026,8.8,2,13,...,23,3,157,106,201,9,9,9,9,105
11,"New York City, NY",14,40.712775,-74.005973,11368,2534.70,85136,8.1,2,20,...,21,11,4050,1924,1927,272,2065,529,539,2595
12,"Austin, TX",14,30.267153,-97.743061,78745,2643.70,71372,9.9,1,13,...,23,IN,2041,1875,161,15,135,97,147,225
13,"Chicago, IL",15,41.878114,-87.629798,60629,2508.40,71992,8.3,1,17,...,30,45,1712,5340,295,148,1370,16,207,1255
14,"Portland, OR",15,45.515232,-122.678385,97206,2340.90,68374,8.1,2,10,...,29,3,3608,677,949,20,157,87,65,209
15,"Minneapolis, MN",15,44.977753,-93.265011,55407,2710.70,71912,6.2,2,12,...,19,15,1361,578,166,46,154,9,9,301
16,"Seattle, WA",16,47.606209,-122.332071,98115,2169.70,89274,8.4,1,16,...,69,3,1694,1664,294,100,165,40,37,189
17,"San Antonio, TX",16,29.425190,-98.494592,78228,2629.20,53648,7.3,1,6,...,27,5,1644,1381,9,9,18,80,9,112
18,"Atlanta, GA",18,33.748752,-84.387685,30318,2738.30,63219,7.2,2,16,...,19,4,2733,904,738,250,1226,662,267,1300
19,"New Orleans, LA",19,29.951066,-90.071532,70119,2648.90,61327,6.6,1,9,...,18,63,1411,97,53,28,264,82,25,18

In [65]:
sfdWeather = pd.read_csv("SolarFinanceProjectWeatherData.csv")

In [66]:
sfdWeather.head(10)

,name,tempmax,tempmin,temp,precip,precipcover,windspeedmean,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,sunelevation
0,"Honolulu, HI",24.8,19.5,22.2,80.461,75.00,14.0,1010.8,83.1,14.5,40.5,3.5,2,NaN,45.4
1,"Honolulu, HI",22.2,19.3,20.6,37.753,54.17,6.2,1011.7,68.6,14.9,44.6,3.8,2,NaN,45.5
2,"Honolulu, HI",24.2,19.1,21.4,11.910,33.33,6.1,1012.4,57.1,15.3,93.2,8.0,5,NaN,45.6
3,"Honolulu, HI",25.3,19.5,22.5,6.101,45.83,9.0,1013.1,79.3,15.8,83.1,7.2,5,NaN,45.7
4,"Honolulu, HI",25.9,20.3,23.0,3.980,8.33,7.0,1015.6,53.1,15.9,126.8,10.9,5,NaN,45.8
5,"Honolulu, HI",26.1,19.2,22.8,1.716,12.50,8.8,1015.1,33.6,16.0,211.7,18.1,8,NaN,46.0
6,"Honolulu, HI",26.9,19.3,22.8,0.000,0.00,8.7,1013.6,32.1,16.0,133.0,11.6,6,NaN,46.1
7,"Honolulu, HI",26.4,17.8,22.3,0.000,0.00,8.6,1013.4,43.2,16.0,128.3,10.9,7,NaN,46.3
8,"Honolulu, HI",25.8,18.8,22.7,0.000,0.00,7.2,1013.6,32.8,16.0,198.4,16.9,8,NaN,46.4
9,"Honolulu, HI",26.4,18.9,22.8,0.000,0.00,8.3,1015.9,44.5,16.0,153.5,13.1,6,10.0,46.6

In [67]:
sfdWeatherRedone = sfdWeather.groupby('name', as_index=False).mean()
sfdWeatherRedone

,name,tempmax,tempmin,temp,precip,precipcover,windspeedmean,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,sunelevation
0,"Atlanta, GA",22.699452,12.323562,17.207123,3.049789,8.755671,9.966849,1018.487671,45.203836,15.178904,348.653973,29.933973,5.926027,27.275281,56.199178
1,"Austin, TX",27.602466,15.228219,21.055068,1.698274,4.680466,9.594247,1016.449863,40.490685,15.297260,182.361370,15.467123,6.668493,42.106742,59.332877
2,"Baltimore, MD",18.995068,9.303014,14.091781,2.522153,9.897370,10.174521,1018.002192,55.040822,14.807123,173.320548,14.966027,6.819178,19.662921,51.038082
3,"Boston, MA",16.132055,7.958904,11.932055,2.154011,10.194110,17.719452,1016.675342,63.025753,14.843014,116.667671,9.924932,4.638356,14.044944,47.864110
4,"Chicago, IL",15.805205,7.375342,11.548493,2.064959,9.155260,16.202466,1016.609315,65.510959,15.055616,79.363288,6.697534,4.613699,16.039326,48.432603
5,"Denver, CO",17.903288,3.670959,10.426301,1.028836,5.730603,14.344384,1014.909041,55.247945,15.342466,172.131507,14.596712,7.153425,13.047753,50.624932
6,"Honolulu, HI",28.840274,22.404932,25.365753,0.857353,5.125753,15.440822,1016.653699,50.615342,15.912603,212.773151,18.356712,8.115068,12.696629,66.944384
7,"Miami, FL",29.189589,22.523836,25.594795,4.096381,10.639370,12.656712,1017.148767,52.881918,15.699726,172.624384,14.658082,7.487671,65.042135,63.650959
8,"Minneapolis, MN",12.453973,3.066301,7.730959,1.426252,8.276329,14.807123,1015.714795,49.686027,15.112603,143.883562,12.247945,5.756164,18.426966,45.287671
9,"Nashville, TN",21.878082,10.544384,16.060274,2.347981,8.607233,10.504932,1018.321918,46.949315,14.775068,174.331233,14.845479,6.800000,26.755618,54.052877
10,"New Orleans, LA",25.917808,18.669589,22.085479,1.358529,7.500000,8.647945,1018.172877,33.546849,15.394521,108.006027,9.187123,5.772603,47.261236,60.386575
11,"New York City, NY",17.568767,10.188219,13.661096,2.151833,10.228466,10.898082,1017.503836,43.259726,15.017808,163.688219,14.131781,6.558904,16.348315,49.645753
12,"Philadelphia, PA",18.813973,9.473699,14.091507,2.653373,11.358575,13.161644,1017.909589,55.610959,15.002192,171.231507,14.590411,6.545205,18.132022,50.410959
13,"Portland, OR",17.575068,8.534521,12.732055,2.765896,15.753507,9.079178,1018.751507,58.734795,14.746849,50.695068,4.357260,3.115068,10.584270,44.796164
14,"San Antonio, TX",28.410411,16.029863,21.774795,0.793151,3.344849,13.150959,1015.501096,44.220274,15.313973,196.200548,16.600822,7.471233,38.132022,60.200822
15,"San Diego, CA",21.315068,14.198904,17.560822,0.340433,2.043425,8.695616,1015.880822,56.070137,15.281096,179.857260,15.373973,6.767123,10.379213,57.505753
16,"San Fransisco, CA",25.771781,10.270137,17.669863,0.732329,4.726356,11.534521,1020.845479,48.653699,17.383288,262.625479,22.601370,9.238356,11.151685,68.148493
17,"San Jose, CA",22.323288,10.731507,15.812603,0.443167,3.561699,10.327945,1017.164384,40.210137,15.387123,218.821644,18.886027,7.887671,10.000000,52.963562
18,"Seattle, WA",15.562192,7.979178,11.554795,1.768792,11.449808,8.436438,1018.487671,60.754795,14.590411,137.229863,11.843836,5.331507,10.154494,42.729315
19,"Washington, DC",19.753151,10.666027,14.949041,2.661241,9.200877,13.391507,1018.322192,63.974521,15.283562,92.161096,7.812055,5.378082,19.873596,51.414795

In [68]:
sfd = sfd.sort_values('City')
sfd

,City,Break even,Latitude,Longitude,Zipcode,Annual Sun Hours,PCPI,PCPI Growth,CO 8-hr (ppm),NO2 AM (ppb),...,PM2.5 24-hr (Âµg/m3),SO2 1-hr (ppb),Solar,Wind,Hydroelectric,Low-Impact Hydroelectric,Natural Gas,Coal,Oil & Other FF,Other
18,"Atlanta, GA",18,33.748752,-84.387685,30318,2738.30,63219,7.2,2,16,...,19,4,2733,904,738,250,1226,662,267,1300
12,"Austin, TX",14,30.267153,-97.743061,78745,2643.70,71372,9.9,1,13,...,23,IN,2041,1875,161,15,135,97,147,225
6,"Baltimore, MD",10,39.290385,-76.612189,21215,2581.70,70490,6.3,1,15,...,16,3,1095,126,75,49,256,329,9,127
9,"Boston, MA",12,42.360082,-71.058880,2124,2633.60,92290,7.0,1,12,...,17,9,3071,510,378,87,194,281,129,946
13,"Chicago, IL",15,41.878114,-87.629798,60629,2508.40,71992,8.3,1,17,...,30,45,1712,5340,295,148,1370,16,207,1255
7,"Denver, CO",11,39.739236,-104.990251,80219,3106.60,78150,7.3,2,24,...,18,5,2325,1113,253,61,147,392,41,540
3,"Honolulu, HI",5,21.309884,-157.858140,96818,3035.90,64143,6.3,1,IN,...,8,63,2779,200,49,29,89,272,838,79
5,"Miami, FL",10,25.761680,-80.191790,33125,3154.00,73522,10.9,1,13,...,22,2,821,362,184,103,670,197,9,1379
15,"Minneapolis, MN",15,44.977753,-93.265011,55407,2710.70,71912,6.2,2,12,...,19,15,1361,578,166,46,154,9,9,301
10,"Nashville, TN",13,36.162664,-86.781602,37211,2510.10,70026,8.8,2,13,...,23,3,157,106,201,9,9,9,9,105
19,"New Orleans, LA",19,29.951066,-90.071532,70119,2648.90,61327,6.6,1,9,...,18,63,1411,97,53,28,264,82,25,18
11,"New York City, NY",14,40.712775,-74.005973,11368,2534.70,85136,8.1,2,20,...,21,11,4050,1924,1927,272,2065,529,539,2595
4,"Philadelphia, PA",9,39.952584,-75.165222,19120,2498.40,72379,6.1,2,14,...,23,7,307,379,55,33,134,59,9,251
14,"Portland, OR",15,45.515232,-122.678385,97206,2340.90,68374,8.1,2,10,...,29,3,3608,677,949,20,157,87,65,209
17,"San Antonio, TX",16,29.425190,-98.494592,78228,2629.20,53648,7.3,1,6,...,27,5,1644,1381,9,9,18,80,9,112
0,"San Diego, CA",4,32.715738,-117.161084,92154,3054.60,72637,7.1,1,15,...,17,1,11705,836,760,124,981,207,85,1675
2,"San Fransisco, CA",5,37.774929,-122.419415,94112,3061.70,123711,12.1,2,13,...,24,15,14005,608,424,69,525,101,32,1105
1,"San Jose, CA",4,37.338740,-121.885253,95123,3243.14,136338,7.3,2,13,...,27,2,15777,489,807,123,985,123,155,1013
16,"Seattle, WA",16,47.606209,-122.332071,98115,2169.70,89274,8.4,1,16,...,69,3,1694,1664,294,100,165,40,37,189
8,"Washington, DC",12,38.907192,-77.036871,20011,2527.70,80822,6.2,2,15,...,17,3,1566,294,213,106,206,122,9,301

In [69]:
sfdUpdated = sfd.set_index("City").join(sfdWeatherRedone.set_index("name"))
sfdUpdated

,Break even,Latitude,Longitude,Zipcode,Annual Sun Hours,PCPI,PCPI Growth,CO 8-hr (ppm),NO2 AM (ppb),NO2 1-hr (ppb),...,precipcover,windspeedmean,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,sunelevation
City,,,,,,,,,,,,,,,,,,,,,
"Atlanta, GA",18,33.748752,-84.387685,30318,2738.30,63219,7.2,2,16,52,...,8.755671,9.966849,1018.487671,45.203836,15.178904,348.653973,29.933973,5.926027,27.275281,56.199178
"Austin, TX",14,30.267153,-97.743061,78745,2643.70,71372,9.9,1,13,IN,...,4.680466,9.594247,1016.449863,40.490685,15.297260,182.361370,15.467123,6.668493,42.106742,59.332877
"Baltimore, MD",10,39.290385,-76.612189,21215,2581.70,70490,6.3,1,15,44,...,9.897370,10.174521,1018.002192,55.040822,14.807123,173.320548,14.966027,6.819178,19.662921,51.038082
"Boston, MA",12,42.360082,-71.058880,2124,2633.60,92290,7.0,1,12,47,...,10.194110,17.719452,1016.675342,63.025753,14.843014,116.667671,9.924932,4.638356,14.044944,47.864110
"Chicago, IL",15,41.878114,-87.629798,60629,2508.40,71992,8.3,1,17,55,...,9.155260,16.202466,1016.609315,65.510959,15.055616,79.363288,6.697534,4.613699,16.039326,48.432603
"Denver, CO",11,39.739236,-104.990251,80219,3106.60,78150,7.3,2,24,63,...,5.730603,14.344384,1014.909041,55.247945,15.342466,172.131507,14.596712,7.153425,13.047753,50.624932
"Honolulu, HI",5,21.309884,-157.858140,96818,3035.90,64143,6.3,1,IN,IN,...,5.125753,15.440822,1016.653699,50.615342,15.912603,212.773151,18.356712,8.115068,12.696629,66.944384
"Miami, FL",10,25.761680,-80.191790,33125,3154.00,73522,10.9,1,13,51,...,10.639370,12.656712,1017.148767,52.881918,15.699726,172.624384,14.658082,7.487671,65.042135,63.650959
"Minneapolis, MN",15,44.977753,-93.265011,55407,2710.70,71912,6.2,2,12,46,...,8.276329,14.807123,1015.714795,49.686027,15.112603,143.883562,12.247945,5.756164,18.426966,45.287671
"Nashville, TN",13,36.162664,-86.781602,37211,2510.10,70026,8.8,2,13,53,...,8.607233,10.504932,1018.321918,46.949315,14.775068,174.331233,14.845479,6.800000,26.755618,54.052877
"New Orleans, LA",19,29.951066,-90.071532,70119,2648.90,61327,6.6,1,9,50,...,7.500000,8.647945,1018.172877,33.546849,15.394521,108.006027,9.187123,5.772603,47.261236,60.386575
"New York City, NY",14,40.712775,-74.005973,11368,2534.70,85136,8.1,2,20,63,...,10.228466,10.898082,1017.503836,43.259726,15.017808,163.688219,14.131781,6.558904,16.348315,49.645753
"Philadelphia, PA",9,39.952584,-75.165222,19120,2498.40,72379,6.1,2,14,56,...,11.358575,13.161644,1017.909589,55.610959,15.002192,171.231507,14.590411,6.545205,18.132022,50.410959
"Portland, OR",15,45.515232,-122.678385,97206,2340.90,68374,8.1,2,10,31,...,15.753507,9.079178,1018.751507,58.734795,14.746849,50.695068,4.357260,3.115068,10.584270,44.796164
"San Antonio, TX",16,29.425190,-98.494592,78228,2629.20,53648,7.3,1,6,37,...,3.344849,13.150959,1015.501096,44.220274,15.313973,196.200548,16.600822,7.471233,38.132022,60.200822
"San Diego, CA",4,32.715738,-117.161084,92154,3054.60,72637,7.1,1,15,50,...,2.043425,8.695616,1015.880822,56.070137,15.281096,179.857260,15.373973,6.767123,10.379213,57.505753
"San Fransisco, CA",5,37.774929,-122.419415,94112,3061.70,123711,12.1,2,13,43,...,4.726356,11.534521,1020.845479,48.653699,17.383288,262.625479,22.601370,9.238356,11.151685,68.148493
"San Jose, CA",4,37.338740,-121.885253,95123,3243.14,136338,7.3,2,13,44,...,3.561699,10.327945,1017.164384,40.210137,15.387123,218.821644,18.886027,7.887671,10.000000,52.963562
"Seattle, WA",16,47.606209,-122.332071,98115,2169.70,89274,8.4,1,16,54,...,11.449808,8.436438,1018.487671,60.754795,14.590411,137.229863,11.843836,5.331507,10.154494,42.729315
"Washington, DC",12,38.907192,-77.036871,20011,2527.70,80822,6.2,2,15,46,...,9.200877,13.391507,1018.322192,63.974521,15.283562,92.161096,7.812055,5.378082,19.873596,51.414795

In [70]:
sfdUpdatedNew = sfdUpdated.drop(columns=["NO2      AM (ppb)", "NO2          1-hr (ppb)", "SO2         1-hr (ppb)"])

In [71]:
sfdUpdatedNew.to_csv("SOLARFINANCEFINAL.csv")